/* BookList.module.css */
:root {
    /* --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300; */
    --color-book-subtitle: #f0f0f0;

     /* Sidebar variables */
     --color-sidebar-background: #333;
     --color-sidebar-title: #f8f9fa;
     --color-sidebar-link: #f8f9fa;
     --color-sidebar-link-hover: #e5e2e249;   
     --color-link-text: #2162a1;

}

a {
    text-decoration: none;
    color: inherit; /* Inherit color from parent element */
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem; /* Space between items */
    justify-content: left;

    @media (max-width: 1024px) {
        gap: 1.25rem; 
    }

    @media (max-width: 768px) {
        gap: 1.5rem; 
    }
}

.book {
    flex: 1 1 calc(11.11% - 1rem); /* 7 books per row on desktop */
    max-width: calc(11.11% - 1rem); /* 7 books per row on desktop */
    text-align: left;
    margin-bottom: .5rem 0;

    @media (max-width: 1024px) {
        flex: 1 1 calc(20% - 1rem);     
        max-width: calc(20% - 1rem);
        margin: -1rem 0;
    }

    @media (max-width: 768px) {
        flex: 1 1 calc(24% - 1rem); /* 2 books per row on mobile */      
        max-width: calc(24% - 1rem); /* 2 books per row on mobile */
        /* flex: 1 1 calc(50% - 1rem); /* 2 books per row on mobile */      
        /* max-width: calc(50% - 1rem); 2 books per row on mobile */ 
    }

    @media (max-width: 480px) {
        flex: 1 1 calc(50% - 1rem); 
        max-width: calc(50% - 1rem); 
    }
}

.coverImage {
    width: 9rem;
    height: 13rem;
    margin-bottom: .5rem;
    border-radius: 3px;

    @media (max-width: 1024px) {
        width: 8rem;
        height: 12rem;
        margin-bottom: -.5rem;
    }

    @media (max-width: 768px) {
        width: 8rem;
        height: 12rem;
        margin-bottom: -.5rem;
    }
}

.bookTitle {
    font-size: 1rem;

    @media (max-width: 1024px) {
        margin-top: .5rem;
    }
}

.bookSubtitle {
    font-size: .85rem;
    color: #808080;
}
