.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    position: fixed; /* Ensure it stays on top */
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
    z-index: 9999; /* Ensure it appears above other elements */
}

.loading-image {
    width: 50px; /* Adjust size as needed */
    height: 50px;
}