/* Generic container for inline alignment */
.indexHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Adjust spacing between elements */
    gap: 1rem; /* Space between the h1 and the Link */

    h1 {
        margin: 0; /* Remove default margin for better alignment */
    }

    button {
        flex-direction: row; /* Corrected property value */
    }
}

.filterContainer {
    display: flex;
    align-items: center; 
    gap: 1rem; 
    margin-bottom: 1rem; 

    h1 {
        text-transform: capitalize;
    }
}

.searchContainer {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
}

.searchInput {
    flex: 1;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 999px;
    font-size: 1rem;

    @media (max-width: 1024px) {
        max-width: 100%;
    }
}

.sortContainer {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    label {
        font-weight: bold;
    }

    select {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
    }
}

.tableLayout {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: 1.25rem;

    thead {
        background-color: #333;
        color: white;
    }
    th {
        padding: 0.5rem;
        text-align: left;
    }
    tr {
        cursor: pointer;
    }
    td {
        padding: 0.5rem;
        /* border-bottom: 1px solid #ccc; */

        last-child {
            border-bottom: none;
        }
    }
}

.gridHeader {
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    display: flex;
    font-size: .75rem;
}

.linkList {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: flex;

    a {
        text-decoration: none;
        color: #0000EE;
        /* font-weight: bold; */
    }
}

.tabMenu {
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;

    @media (max-width: 480px) {
      justify-content: space-around; 
    }
}

.tabLink {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 1.25rem;
}

.tabLink:hover {
    color: #007bff;
}

.activeTab {
    color: #007bff;
    border-bottom: 2px solid #007bff;
}