/* Generic container for inline alignment */
.indexHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Adjust spacing between elements */
    gap: 1rem; /* Space between the h1 and the Link */

    h1 {
        margin: 0; /* Remove default margin for better alignment */
    }

    button {
        flex-direction: row; /* Corrected property value */
    }
}

.filterContainer {
    display: flex;
    align-items: center; 
    gap: 1rem; 
    margin-bottom: 1rem; 
}

.searchContainer {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
}

.searchInput {
    flex: 1;
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;

    @media (max-width: 1024px) {
        max-width: 100%;
    }
}

.sortContainer {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sortContainer label {
    font-weight: bold;
}

.sortContainer select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}